@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-height: 3.5rem;
  --first-color: #66fcf1;
  --second-color: #45a29e;
  --third-color: #c5c6c7;
  --forth-color: #1f2833;
  --title-color: hsl(184, 83%, 50%);
  --text-color: #0b0c10;
  --body-color: #0b0c10;
  --gridline-color: white;
  --body-font: "Inter";
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

body {
  background-image: linear-gradient(
    to top,
    var(--body-color),
    var(--forth-color)
  );
  color: var(--text-color);
  font-family: var(--body-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.build {
  box-shadow:
    0 0.2rem 3.2rem -0.125rem var(--third-color),
    0 0px 0.5rem 0.5rem var(--forth-color);
  margin-bottom: clamp(30px, 2vw, 50px);
}

.interactive__button {
  padding: 0.6em;
  border: none;
  outline: none;
  color: var(--third-color);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.interactive__button:not(:disabled):hover {
  color: var(--text-color);
  background-color: var(--third-color);
  box-shadow: rgba(0, 0, 0, 0.7) 0 8px 15px;
  transform: translateY(-3px);
}

.interactive__button:not(:disabled):active {
  box-shadow: none;
  transform: translateY(0);
}

.interactive__button:disabled {
  color: var(--text-color);
  background-color: var(--third-color);
  cursor: default !important;
}
