.about__card {
  width: 80%;
  height: 100vw;
  border: 2px solid var(--first-color);
  background-color: var(--first-color);
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 2%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow:
    0 0.2rem 3.2rem -0.125rem red,
    0 0px 0.5rem 0.5rem var(--forth-color);
}

