.about__card {
  width: 80%;
  height: 100vw;
  border: 2px solid var(--first-color);
  background-color: var(--first-color);
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 2%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* background: drop-shadow(0 0 2em #61dafbaa); */
}

/* .about__page {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
} */

