.board__card {
  width: 80%;
  aspect-ratio: 1;
  border: 2px solid var(--first-color);
  background-color: var(--first-color);
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 900px;
  flex-direction: column;
  /* background: drop-shadow(0 0 2em #61dafbaa); */
}

.board__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.board__like {
}

.board__download {
}
