.clientcontrolpanel__card {
  width: 90%;
  border: 2px solid var(--first-color);
  background-color: var(--first-color);
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 2%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "maze colors stats";
  gap: 20px;
  color: var(--text-color);
  padding: 10px;
  box-shadow:
    0 0.2rem 3.2rem -0.125rem var(--second-color),
    0 0px 0.5rem 0.5rem var(--forth-color);
  margin-bottom: clamp(30px, 2vw, 50px);
}

.clientcontrolpanel__title {
  text-align: center;
  text-wrap: none;
  font-size: larger;
  margin-bottom: 10px;
  /* font-size: clamp(medium, 1vw + 1rem, larger) */
}

.clientcontrolpanel__mazecontrols__section {
  grid-area: maze;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.clientcontrolpanel__mazecontrols__input {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.clientcontrolpanel__mazecontrols__buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  gap: 10px;
}

.clientcontrolpanel__statscontrols__section {
  grid-area: stats;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
  gap: 10px;
}

.clientcontrolpanel__colorcontrols__section {
  grid-area: colors;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.clientcontrolpanel__colorselector {
  /* outline: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.clientcontrolpanel__colorselector__input {
}

@media (max-width: 767px) {
  .clientcontrolpanel__card {
    grid-template-columns: 1fr; /* Switch to a single column */
    grid-template-areas:
      "maze"
      "colors"
      "stats";
  }

  .clientcontrolpanel__mazecontrols__input,
  .clientcontrolpanel__colorselector,
  .clientcontrolpanel__statscontrols__stats {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

@media (max-width: 430px) {
  .clientcontrolpanel__mazecontrols__input {
    display: block;
  }
}
