.submitboard__card {
  width: 90%;
  height: 10rem;
  border: 2px solid var(--first-color);
  background-color: var(--first-color);
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 2%;
  max-width: 900px;
  /* background: drop-shadow(0 0 2em #61dafbaa); */
}

.submitboard__name {
}
