.submitboard__card {
  width: 90%;
  border: 2px solid var(--first-color);
  background-color: var(--first-color);
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 2%;
  max-width: 900px;
  margin-bottom: clamp(30px, 2vw, 50px);
  padding: 10px;
}

.submitboard__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.submitboard__name {
  text-wrap: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 344px) {
  .submitboard__name {
    flex-direction: column;
  }
}
